.sidebar{
    max-width: 30dvw;
    min-width: 30dvw;
}

.sidebar-root {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.sidebar-root .MuiButton-root {
  text-transform: none;
}

.Loading {
    display: "flex";
    align-items: "center"; 
    gap: 1;
}

.sidebarResults{
    border: 1px solid #ff0080;
}